/* global formatting */
*   {
    /* border: 1px black solid; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

:root   {
    --sectionColor: #dfdfdf;
    --backgroundColor: #f5f5f5;
    --objectColor: #d3d3d3;
    --sidebarColor: #936cb9;
}
/* main container layout formatting */
#nav,
#main    {
    background-color: var(--sectionColor);
}

#content {
    background-color: var(--backgroundColor);
}

#content    {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 60px 1fr 60px;
    grid-template-areas: 
        'header header'
        'nav main' 
        'footer footer';
    justify-content: center;
    align-content: center;
    overflow:auto;
    /* 360pxx640px mobile, 1280x800 tablet */
    width: clamp(640px, 100%, 1280px);
    min-height: 360px;
}

#header {
    grid-area: header;
    display: flex;
    align-items:center;
    justify-content: center;
}

#nav    {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4px;
    /* justify-self: center; */
    align-items: flex-start;
    background-color: var(--sidebarColor);
}

#projectbar   {
    padding-left: 20px;
}

#projectbar > li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#main   {
    grid-area: main;
    padding: 16px;
    text-align: center;
}
#footer {
    grid-area: footer;
    display:flex;
    align-items: center;
    justify-content: center;
}

.todoForm   {
    display:flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 6px;
    box-shadow: 4px 4px 8px gray;
    width: 50%;
}

.todoForm div {
    display: flex;
    gap: 8px;
    font-weight: 700;
    align-content: center;
    justify-content: center;
}

.todoForm input {
    /* flex: 1; */
}

#main button  {
    padding: 5px 10px;
    font-weight: 700;
    font-size: 1.1rem;
    background-color: whitesmoke;
}

#mainContent > button {
    margin-top: 1rem;
}

.center {
    text-align: center;
}

h1  {
    font-size: 1.5rem;
}

/* Navigation Styling */
.navbar {
    display:flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    text-align: center;
    margin: 0;
}

.navbar > li  {
    padding: 10px 15px;
    font-size: 1.1rem;
    list-style: none;
    background-color: var(--objectColor);
}

.navbar > li:hover {
    transform: scale(1.05);
    transition: .2s;
}

.navbar > li.clicked    {
    background-color: #b9b9b9;
    font-weight: 700;
}

#newproject > form {
    display:flex;
    gap: 6px;
}

#newproject > form > button    {
    font-size: 16px;
}
#newproject input, .todoForm input {
    flex:1;
    background-color: var(--backgroundColor);
    font-size: 16px;
    border: none;
}
#projectbar button{
    padding: 6px;
    /* font-size: 16px; */
    border:none;
    background-color: inherit;
}

.navbar button:hover{
    background-color: var(--backgroundColor);
    transition: .3s;
}

/* Todo Styling */

.todo{
    display:grid;
    grid-template-rows: 32px;
    grid-template-columns: repeat(3, 1fr) 50px 50px;
    gap: 8px;
    padding:8px;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    border: 2px solid slategray;
}

.todoHeader{
    font-weight: 700;
    font-size: 1.2rem;
    background-color: gray;
    grid-template-columns: repeat(3, 1fr) 50px 50px;
}

.readOnly {
    grid-template-columns: repeat(4, 1fr);
}

.low{
    background-color: green;
}
.medium{
    background-color: yellow;
}
.high{
    background-color: red;
}

#mainDescription {
    font-style: italic;
    font-size: 1.2rem;
}